/* use this to override bootstrap default styles*/
 .navbar-toggle{
        margin-top: 18px;
    }

@media (min-width: 768px) {
   
    .navbar-default .navbar-nav>li>a {
        font-size: 1.5em;
    }

    .nav>li>a {
        position: relative;
        display: block;
        padding-top:40px;
    }
}

.navbar-brand{
    padding-left: 0;
}

