$color-content-background: #f8f8f8;
$color-header-background: #eaeaea;

$color-primary: #552387;

$color-base: #552387;
$color-base-dark: #4f4f4f;
$color-base-light: #84898a;

$color-white: #fff;
$color-black: #000;
$color-gray: #3a3d3f;
$color-light-gray: #d8d8d8;
$color-highlight: #f1f1f1;

$color-uncaptured: #febe12;
$color-overlay: rgba(0,0,0,0.2);


.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }
.margin-top-35 { margin-top: 3.5em; }
.margin-top-40 { margin-top: 4.0em; }